{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

  <div class="text-center container d-flex justify-content-center">
    <img src="{{ memo.images.url }}" class="d-block w-100 h-100" alt="banner_1">
  </div>

  <div class="album py-3">

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

        <div class="d-flex justify-content-between align-items-center">

          <div class="btn-group">
            <span class="badge text-light-emphasis rounded-pill d-flex align-items-center"
              style="margin-right: -0.5rem!important;">
              <div class="dropdown text-end">
                {% if user.is_authenticated %}
                <a href="{% url 'userpage' memo.name  %}" class="d-block link-body-emphasis text-decoration-none">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  <span class="writer_name">{{ memo.name }}</span>
                </a>
                {% else %}
                <div class="d-block link-body-emphasis text-decoration-none">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  <span class="writer_name">{{ memo.name }}</span>
                </div>
                {% endif %}
              </div>
            </span>
          </div>

          <small class="text-body-secondary">
            {{memo.create_date}}
          </small>

        </div>

        <div class="col d-flex justify-content-center">
          <div style="width: 320px;">
            <div>
              <p class="fw-bolder" style="margin-bottom: 0.25rem; font-size: 16px;">
                {{memo.title}}
              </p>
              <p class="fw-normal" style="font-size: 14px;">
                {{memo.text}}
              </p>

              <!-- 해시태그 영역 -->
              <span class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-pill"
                style="margin-bottom: 0.5rem;">
                #서핑
              </span>

              <p style="margin-bottom: 0.5rem;">
                <span class="badge text-light-emphasis rounded-pill d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-cursor" viewBox="0 0 16 16">
                    <path
                      d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                  </svg>
                  <span class="ms-1">{{memo.district}}</span>
                </span>
              </p>




              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <span class="badge text-light-emphasis rounded-pill d-flex align-items-center"
                    style="margin-right: -0.5rem!important;">
                    <span class="like_button">
                      {% if memo.likes.all %}
                      <a class="like" name="{{ memo.id }}"
                        style="text-decoration: none !important; color: inherit !important;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                      </a>
                      {% else %}
                      <a class="like" name="{{ memo.id }}"
                        style="text-decoration: none !important; color: inherit !important;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-heart" viewBox="0 0 16 16">
                          <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                      </a>
                      {% endif %}
                      <span class="like_count" id="count{{ memo.id }}">
                        {{ memo.total_likes }}
                      </span>
                    </span>
                  </span>


                  <span class="badge text-light-emphasis rounded-pill d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                      <path
                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                      <path
                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    <span class="ms-1">
                      {{memo.comments.count}}
                    </span>
                  </span>

                </div>

                <small class="text-body-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                    viewBox="0 0 16 16">
                    <path
                      d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                  </svg>
                </small>

              </div>

            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          {% if user.is_authenticated %}
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            <form class="form-inline" action="{% url 'comment_write' memokey=memo.pk %}" method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="댓글을 입력해주세요." aria-label="Recipient's username"
                  name="content" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
            </form>
          {% else %}
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            <form class="form-inline" action="{% url 'comment_write' memokey=memo.pk %}" method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="로그인을 해주세요." aria-label="Recipient's username"
                  name="content" aria-describedby="button-addon2" disabled>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
            </form>
          {% endif %}
        </div>

        <div class="col d-flex justify-content-center">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            <div style="width: 320px;">
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    {% if memo.comments.all %}
                    {% for comment in memo.comments.all %}
                    {% if user.is_authenticated %}
                    <a class="fw-bolder" href="{% url 'userpage' comment.comment_writer %}"
                      style="margin-bottom: 0.25rem; font-size: 16px;"></a>
                    <span class="comment_writer_name">
                      {{ comment.comment_writer }}
                    </span>
                    </a>
                    {% else %}
                    <span class="comment_writer_name">
                      {{ comment.comment_writer }}
                    </span>
                    {% endif %}

                    {% if user.is_authenticated and user.username == comment.comment_writer %}
                    <span class="control">
                      <a href="{% url 'comment_delete' memo.pk comment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                          <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                      </a>
                    </span>
                    {% endif %}

                    <small class="text-body-secondary">{{ comment.comment_date }}</small>
                  </div>
                </div>

                <p class="fw-normal" style="font-size: 14px;">
                  {{ comment.comment_contents }}
                </p>

                {% endfor %}
                {% else %}
                <p class="card-text">댓글이 없습니다.</p>
                {% endif %}

              </div>

        </div>

      </div>
    </div>
  </div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#user_name").text();
  $(".writer_name").text();

  if ($("#user_name").text() === $(".writer_name").text()) {
    $("#control_id").removeClass("hidden");
  }

  $('.like').click(function () {
    var pk = $(this).attr('name');
    var likeIcon = $(this).find('svg'); // Get the SVG icon element
    $.ajax({
      type: "POST",
      url: "{% url 'like' %}",
      data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      dataType: "json",
      success: function (response) {
        if (response.likes_count === 1) {
          $('#count' + pk).html(response.likes_count);
          likeIcon.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
        } else if (response.likes_count === 0) {
          $('#count' + pk).html('0');
          likeIcon.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>');
        } else {
          $('#count' + pk).html(response.likes_count);
          likeIcon.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
        }
        alert(response.message);
      },
      error: function (request, status, error) {
        alert('로그인이 필요합니다.');
      }
    });
  });

  $(".comment_writer_name");
  $(".comment_writer_name")[0].innerHTML;

  for (var i = 0; i < $(".comment_writer_name").length; i++) {
    if ($("#user_name").text() === $(".comment_writer_name")[i].innerHTML) {
      $("#control_id1" + i).removeClass("hidden");
    }
  }
</script>


{% endblock %}