{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

  <div class="position-fixed bottom-0 end-0 mb-3 bd-mode-toggle" style="margin-right: 22.5rem!important;">
    <a href="{% url 'post' %}" class="btn btn-bd-primary py-2 d-flex align-items-center">
      <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
        <use href="#circle-half"></use>
      </svg>
    </a>
  </div>

  <section class="py-3 text-center container d-flex justify-content-center">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 320px;">

      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static 'img/banner_1.jpg' %}" class="d-block w-100 h-100" alt="banner_1" style="border-radius: 16px;">
          </div>
          <div class="carousel-item">
              <img src="{% static 'img/banner_2.jpg' %}" class="d-block w-100 h-100" alt="banner_2" style="border-radius: 16px;">
          </div>
          <div class="carousel-item">
              <img src="{% static 'img/banner_3.jpg' %}" class="d-block w-100 h-100" alt="banner_3" style="border-radius: 16px;">
          </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>

    </div>

  </section>

  <div class="album py-3">

    <!-- 카테고리 -->
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

        <div class="row">
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <p class="fw-normal text-center">서핑</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">다이빙</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">레이싱</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">글라이딩</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <p class="fw-normal text-center">서핑</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">다이빙</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">레이싱</p>
          </div>
          <div class="col-lg-3">
            <svg class="bd-placeholder-img rounded-circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <p class="fw-normal text-center">글라이딩</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <p>지금 뜨는 후기</p>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

        {% for memo in memo %}
        <a href="{% url 'detail' memo.id %}">
          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm" style="width: 320px; border-radius: 15px;">
              <img src="{% static 'img/banner_1.jpg' %}" class="custom-image" alt="banner_1" style="border-top-left-radius: 15px; border-top-right-radius: 16px; width: 100%;">
              <div class="card-body">
                <p class="card-text">{{memo.title}}</p>
                <p class="card-text">{{memo.text}}</p>
                <!-- 해시태그 영역 -->
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">#서핑</button>
                  </div>
                </div>
  
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                      <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                    {{memo.district}}
                  </button>
                </div>
  
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <spand="count{{ memo.id }}">{{ memo.total_likes }}</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      {{memo.comments.count}}
                    </button>
                  </div>
                  <small class="text-body-secondary">{{memo.create_date}}</small>
                </div>
  
              </div>
            </div>
          </div>

        </a>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

{% endblock %}
