<h1>글 쓰기 페이지</h1>

<form method="POST" class="post-form" enctype="multipart/form-data">
  {%csrf_token%}
  <p>
    <label for="id_title">제목:</label>
    <input type="text" name="title" class="form-control" maxlength="150" required id="id_title">
  </p>
  <p>
    <label for="id_text">내용:</label>
    <input type="text" name="text" class="form-control" maxlength="500" required id="id_text">
  </p>
  <p>
    <label for="id_experience_date">체험 날짜:</label>
    <input type="date" name="experience_date" value="1999-12-31" required id="id_experience_date">
  </p>
  <p>
    <label for="id_price">가격:</label>
    <input type="text" name="price" class="form-control" required id="id_price">
  </p>
  <p>
    <label for="id_district">지역:</label>
    <input type="text" name="district" class="form-control" maxlength="50" required id="id_district">
  </p>
  <p>
    <label for="id_platform">예약 플랫폼:</label>
    <input type="text" name="platform" class="form-control" maxlength="150" required id="id_platform">
  </p>
  <p>
    <label for="id_tag_text">태그:</label>
    <input type="text" name="tag_text" class="form-control" maxlength="150" required id="id_tag_text">
  </p>
  <p>
    <label for="id_category">카테고리:</label>
    <input type="text" name="category" value="전체" class="form-control" maxlength="50" required="" id="id_category">
  </p>

  <button type="submit" class="save btn btn-outline-dark">저장</button>
  <a href="{% url 'index' %}">
    <button type="button" class="btn btn-outline-dark">취소</button>
  </a>
</form>


<script type="text/javascript">

  var text_max = 0;
  $('#count_message').html(text_max + ' / 150');

  $('#id_text').keyup(function () {
    var text_length = $('#id_text').val().length;
    var text_remaining = text_max + text_length;

    $('#count_message').html(text_remaining + ' / 150');
  });

</script>