{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Page 1 - Choose Profile Picture</title>
</head>
<body>
    <h1>Choose Your Profile Picture</h1>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="radio" name="selected_img" value="Atee_BG_1.png">
            <img src="{% static 'img/Atee_BG_1.png' %}" alt="Profile Image 1" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_2.png"> 
            <img src="{% static 'img/Atee_BG_2.png' %}" alt="Profile Image 2" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_3.png">
            <img src="{% static 'img/Atee_BG_3.png' %}" alt="Profile Image 3" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_4.png">
            <img src="{% static 'img/Atee_BG_4.png' %}" alt="Profile Image 4" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_5.png">
            <img src="{% static 'img/Atee_BG_5.png' %}" alt="Profile Image 5" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_6.png">
            <img src="{% static 'img/Atee_BG_6.png' %}" alt="Profile Image 6" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_7.png">
            <img src="{% static 'img/Atee_BG_7.png' %}" alt="Profile Image 7" width="154" height="154">
            <br>
            <input type="radio" name="selected_img" value="Atee_BG_8.png">
            <img src="{% static 'img/Atee_BG_8.png' %}" alt="Profile Image 8" width="154" height="154">
            <br>
        </label>
        <br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
